<form>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label for="emailInput">Email</label>
    <input type="email" class="form-control" id="emailInput"  name="email" placeholder="Enter your email">
  </div>

  <div class="form-group">
    <label for="messageInput">Message</label>
    <textarea class="form-control" id="messageInput" rows="5" name="message" placeholder="Enter your message"></textarea>
  </div>

</form>
 <input type="button" value="Create" (click)="createUser()">
 <input type="button" value="Edit"  (click)="updateUser()">
 <input type="button" value="Delete"  (click)="deleteUser()">
 <input type="button" value="UserById"  (click)=" editUser()">

<table>
  <thead>
     <tr>
      <th>Id</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Message</th>
     </tr>
  </thead>
   <tbody>
    <tr *ngFor="let item of reciveData">
      <td>{{ item.id }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.email}}</td>
      <td>{{ item.message}}</td>
    </tr>    
   </tbody>
</table>